.footer {
    background-color: $grisOscuro;
    margin: 0;

    .nav {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
}

.contenedor-footer {
    padding-top: 2.5rem;
}

.copyrigth {
    color: $blanco;
    text-align: center;
    margin: 0;
    padding-bottom: 2.5rem;
}