.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include tablet {
        flex-direction: row-reverse;
    }

    .dark-mode-boton {
        width: 3rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 2rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
}

.nav {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visbility .3s ease-in-out, opacity, 0.5s linear, height .5s linear;

    @include tablet {
        display: flex;
        gap: 2rem;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;
    }
}

// Menu para movil
.movil-menu {
    cursor: pointer;

    @include tablet {
        display: none;
    }
    img {
        width: 30px;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}